{% extends "layout/basic.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h2>Страница не найдена</h2>
        </div>
    </div>
</div>
{% endblock %}
