{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% block title %}Генерация пароля{% endblock %}

{% block content %}
<h2>Генерация пароля</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Создать' %}{% endbuttons %}
</form>
{% endblock %}