{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Импорт паролей{% endblock %}

{% block content %}
<h2>Импорт паролей</h2>
<form method="post" enctype="multipart/form-data" action="{% url 'main:import_from_excel' %}">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Импорт' %}{% endbuttons %}
</form>
{% endblock %}