{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}

{% block categories %}
<p class="nav-link root">Категории</p>
{% for category in categories %}
<a class="nav-link root" href="{% url 'main:by_category' pk=category.pk %}">{{category.name}}</a>
{%endfor%}
<a class="nav-link root" href="{% url 'main:add_category' %}">Добавить категорию</a>
{% endblock %}

{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
{% else %}
<p>Здравствуйте!</p>
{% endif %}
<form method="post" enctype="multipart/form-data" action="{% url 'main:search' %}">
    {% csrf_token %}
    {% bootstrap_form search_form layout='horizontal' size='small' %}
    {% buttons submit='Поиск' %}{% endbuttons %}
</form>
<p><a href="{% url 'main:profile_bb_add' %}">Добавить пароль</a></p>
<p><a href="{% url 'main:generate_password' %}">Сгенерировать пароль</a></p>
<p><a href="{% url 'main:import_from_excel' %}">Импорт паролей</a></p>
<p><a href="{% url 'main:export_to_excel' %}">Экспорт паролей</a></p>
{% if bbs %}
<h3>Ваши пароли</h3>
<ul class="list-unstyled">
    {% for bb in bbs %}
    <li class="media my-5 p-3 border">
        {% url 'main:profile_bb_detail' pk=bb.pk as url %}
        <a href="{{ url }}{{ all }}"></a>
        <div class="media-body">
          <h3><a href="{{ url }}{{ all }}"> {{ bb.title }}</a></h3>
            <p>Link: <a href={{ bb.service_name }}>{{ bb.title }}</a></p>
          <p>Login: {{ bb.login }}</p>
            <p>Password: {{ bb.password }}</p>
          <p class="text-right font-italic">{{ bb.created_at }}</p>
          <p class="text-right mt-2">
            <a href="{% url 'main:profile_bb_change' pk=bb.pk %}">Исправить</a>
            <a href="{% url 'main:profile_bb_delete' pk=bb.pk %}">Удалить</a>
            <button class="btn btn-sm btn-primary" onclick="copyToClipboard('{{bb.password}}')">Скопировать</button>
          </p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<script>
    function copyToClipboard(text) {
   navigator.clipboard.writeText(text);
}
</script>

{% endblock %}
