{% extends "layout/basic.html" %}

{% block title %}{{ bb.title }} - Профиль пользователя{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h2>{{ bb.title }}</h2>
            <p>Login: {{ bb.login }}</p>
            <p>Password: {{ bb.password }}</p>
            <p class="text-right font-italic">Добавлено {{ bb.created_at }}</p>
        </div>
    </div>
</div>
{% endblock %}
